<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Front-End Assessment</title>
        <meta name="description" content="The HTML5 Herald">
        <meta name="author" content="SitePoint">
        <link rel="stylesheet" href="../public/css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,900" rel="stylesheet">
    </head>
    <body>
        <div class='main-container'>

            <!-- Navigation Bar Start -->
            <div class='navbar-container' >
                <div class='navbar-items'>
                    <div class='title-left'>
                        <div class='item'>ROBOTO</div>
                    </div>
                    <div class='nav-items-right'>
                        <a href='#' class='item'>About</a>
                        <a href='#' class='item'>Services</a>
                        <a href='#' class='item'>Blog</a>
                        <a href='#' class='item'>Contact</a>
                    </div>
                </div>

                <div class='header-container'>
                    <p>Woah, here's a big heading!</p>
                </div>

                <div class='subheader-container'>
                    <p>Here's a Cool Subhead</p>
                </div>
            </div>
            <!-- Navigation Bar End -->

            <!-- Centered description Start -->
            <div class='description-container'>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Suspendisse orci nisi, ultrices vitae mauris quis, 
                    porttitor condimentum lectus. Nunc nec pretium leo, at 
                    bibendum tortor. Pellentesque accumsan bibendum arcu facilisis 
                    consectetur.
                </p>
            </div>
            <!-- Centered description End -->


            <!-- Row 1 Start -->
            <div class="row">
                <div class="column">
                    <div class='panel'>
                        <h3>SUBHEADING</h3>
                        <div class='svg-container'>
                            <img src='../public/svg/clip.svg'>
                            <img src='../public/svg/eye.svg'>
                            <img src='../public/svg/hear.svg'>
                        </div>
                    </div>
                    <p class='panel-text'>This is a hover example.</p>
                </div>
                <div class="column">
                    <div class='panel'>
                        <h3>SUBHEADING</h3>
                        <div class='svg-container'>
                            <img src='../public/svg/clip.svg'>
                            <img src='../public/svg/eye.svg'>
                            <img src='../public/svg/hear.svg'>
                        </div>
                    </div>
                    <p class='panel-text'>This is a hover example.</p>
                </div>
                <div class="column">
                    <div class='panel'>
                        <h3>SUBHEADING</h3>
                        <div class='svg-container'>
                            <img src='../public/svg/clip.svg'>
                            <img src='../public/svg/eye.svg'>
                            <img src='../public/svg/hear.svg'>
                        </div>
                    </div>
                    <p class='panel-text'>This is a hover example.</p>
                </div>
            </div>
            <!-- Row 1 End -->

            <!-- Row 2 Start -->
            <div class="row">
                <div class="column">
                    <div class='panel'>
                        <h3>SUBHEADING</h3>
                        <div class='svg-container'>
                            <img src='../public/svg/clip.svg'>
                            <img src='../public/svg/eye.svg'>
                            <img src='../public/svg/hear.svg'>
                        </div>
                    </div>
                    <p class='panel-text'>This is a hover example.</p>
                </div>
                <div class="column">
                    <div class='panel'>
                        <h3>SUBHEADING</h3>
                        <div class='svg-container'>
                            <img src='../public/svg/clip.svg'>
                            <img src='../public/svg/eye.svg'>
                            <img src='../public/svg/hear.svg'>
                        </div>
                    </div>
                    <p class='panel-text'>This is a hover example.</p>
                </div>
                <div class="column">
                    <div class='panel'>
                        <h3>SUBHEADING</h3>
                        <div class='svg-container'>
                            <img src='../public/svg/clip.svg'>
                            <img src='../public/svg/eye.svg'>
                            <img src='../public/svg/hear.svg'>
                        </div>
                    </div>
                    <p class='panel-text'>This is a hover example.</p>
                </div>
            </div>
            <!-- Row 2 End -->

            <!-- Row 3 Start -->
            <div class="row">
                <div class="column">
                    <div class='panel'>
                        <h3>SUBHEADING</h3>
                        <div class='svg-container'>
                            <img src='../public/svg/clip.svg'>
                            <img src='../public/svg/eye.svg'>
                            <img src='../public/svg/hear.svg'>
                        </div>
                    </div>
                    <p class='panel-text'>This is a hover example.</p>
                </div>
                <div class="column">
                    <div class='panel'>
                        <h3>SUBHEADING</h3>
                        <div class='svg-container'>
                            <img src='../public/svg/clip.svg'>
                            <img src='../public/svg/eye.svg'>
                            <img src='../public/svg/hear.svg'>
                        </div>
                    </div>
                    <p class='panel-text'>This is a hover example.</p>
                </div>
                <div class="column">
                    <div class='panel'>
                        <h3>SUBHEADING</h3>
                        <div class='svg-container'>
                            <img src='../public/svg/clip.svg'>
                            <img src='../public/svg/eye.svg'>
                            <img src='../public/svg/hear.svg'>
                        </div>
                    </div>
                    <p class='panel-text'>This is a hover example.</p>
                </div>
            </div>
            <!-- Row 3 End -->

            <!-- Footer Start -->
            <div class='footer-container'>
                <p>	&#169; 2019 Roboto</p>
            </div>
            <!-- Footer End -->

        </div>


        <script src=""></script>
    </body>
</html>